@model WeiXin.BO.PositionInfoContract

@{
    ViewBag.Title = "用户组信息添加";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.BackUrl =  Url.Action("PositionMain");
}
@section css
{
    <link href="@Url.Content("~/Styles/_Layout_NoFrame.css")" rel="stylesheet" type="text/css" />
}
@section script
{
    <script src="@Url.Content("~/Scripts/Shared/jquery.validate.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Shared/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/_Layout_NoFrame_Edit.js")" type="text/javascript"></script>
}
<div id="divMain">
    <div id="divRightPage">
        <!--列表标题部分-->
        <div class="tblTitle" onselectstart='return false;'>
            <div>@(Model.PositionId == 0 ? "新增用户组信息" : "修改用户组信息")</div>
        </div>
        <div class="divReminders">
            ★
        </div>
        <div class="divReminders">
        </div>
        @using (Html.BeginForm())
        { @Html.HiddenFor(model => model.PositionId) 
            <table class="tblForm">
          
                <tr>
                     <td class="tdTitle">
                        用户组名称：
                    </td>
                    <td>
                       
                        @Html.TextBoxFor(model => model.PositionName, new { maxlength=15,style="width:170px;"})
                        @Html.ValidationMessageFor(model => model.PositionName)
                    </td>
                </tr>
                
                
                <tr>
                      <td class="tdTitle">
                        用户组简述：
                    </td>
                    <td>
                        @Html.TextAreaFor(model => model.PositionRemark, new { style = "width:300px;height:50px;" })
                    </td>
                </tr>
            </table>
            
            <div class="divFormCtrl">
                <!--页面按钮 如：提交、取消、下一步、关闭-->
                <input class="divBtn" type="submit" value="提 交" />
                <a class="divBtn pageLWeiXinding" href="@ViewBag.BackUrl">关 闭</a>
            </div>
        }
    </div>
</div>
 