<!DOCTYPE html>
<html>
<head>
     <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"><meta
        name="apple-mobile-web-app-capable" content="yes"><meta name="apple-mobile-web-app-status-bar-style"
            content="black"><meta name="format-detection" content="telephone=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Styles/Zuxia2013.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Styles/Shared.css")" rel="stylesheet" type="text/css" />
    @RenderSection("css", false)
    <script src="@Url.Content("~/Scripts/Shared/jquery-1.4.1.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/PlugIn/Zuxia2013.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/PlugIn/jquery.form.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Shared.js")" type="text/javascript"></script>
    @RenderSection("script", false)
</head>
<body>
    @RenderBody()
</body>
</html>
