<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>
    @RenderSection("css", false)
    <link href="@Url.Content("~/Styles/wap/style.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/Shared/jquery-1.4.1.js")" type="text/javascript"></script> <script src="@Url.Content("~/Scripts/wap/main.js")" type="text/javascript"></script>
    @RenderSection("script", false)
</head>
<body>

<!--头部-->
<header class="ts1" >
		<a class="u_back fl" href="javascript:history.go(-1)">返回上一页</a>
		<ul class="topbar fr">
			<li>
				<a class="icon_user" href="/wap/member?sessionid=@ViewData["sessionid"]"> <i></i>
					我的
				</a>
			</li>
			<li>
				<a class="icon_shang" href="#?sessionid=@ViewData["sessionid"]"> <i></i>
					商圈
				</a>
			</li>
			<li>
				<a class="icon_class" href="/wap/product_type?sessionid=@ViewData["sessionid"]">
					<i></i>
					分类
				</a>
			</li>
		</ul>
	</header>
    @RenderBody()
    
<!--底部-->
<footer>
	<p>&copy; 2013 重庆足下科技有限公司</p>
	<p><a href="/wap/about?sessionid=@ViewData["sessionid"]">关于我们</a><a href="/wap/telus?sessionid=@ViewData["sessionid"]">联系我们</a></p>
</footer>
<div class="bottom_margin">
</div> 
</body>
</html>
